@use "/src/scss/variables" as *;

.popular-products {

  & {
    @extend %container;
    @extend %flex-column-center;
    padding-bottom: 60px;
  }

  &__title {
    @extend %font-style-24;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  &__link {
    @extend %small-button;
    background-color: $primary;
    color: $white;
  }
  
  &__btn-more {
    @extend %small-button;
    padding: 10px 32px;
    background-color: $primary;
    color: $white;
  }
  
  &__btn-add {
    @extend %small-button;
    background-color: $dark-primary;
    padding: 10px 32px;
    color: $white;
  }

  &__card {
    background-color: $white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: calc(33% - 1rem);
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: max-content;
    margin-bottom: 60px;

    @media (max-width: 480px) {
      width: 100%;
    }

    &-image {
      height: 200px;
      object-fit: cover;
    }

    &-title {
      @extend %font-style-20;
      margin: 10px 0;
    }

    &-price {
      @extend %font-style-16-satoshi;
      color: #333;
      margin-bottom: 0.5rem;
    }

    &-description {
      @extend %font-style-16-satoshi;
      color: #666;
    }
    
    &-buttons {
      display: flex;
      flex-direction: column;
      gap: 5px
    }
  }
}



  

  

  

  