<div class="design-community__text__box">
  <h2 class="design-community__title">
    From a studio in London to a global brand with over 400 outlets
  </h2>
  <p class="design-community__paragraph">
    When we started Avion, the idea was simple. Make high quality furniture
    affordable and available for the mass market.
  </p>
  <p class="design-community__paragraph-seconde">
    Handmade, and lovingly crafted furniture and homeware is what we live,
    breathe and design so our Chelsea boutique become the hotbed for the London
    interior design community.
  </p>
  <button class="design-community__button">Get in touch</button>
</div>
<img
  src="/images/jpg/design-community.jpg"
  alt="sofa"
  class="design-community__img"
/>
