<h3 class="features__title">What makes our brand different</h3>
        <div class="features__cards">
          <div class="features__card">
            <img
              src="/images/svg/delivery.svg"
              alt="delivery"
              class="features__card__img"
            />
            <h4 class="features__card__title">Next day as standard</h4>
            <p class="features__card__paragraph">
              Order before 3pm and get your order the next day as standard
            </p>
          </div>
          <div class="features__card">
            <img
              src="/images/svg/checkmark--outline.svg"
              alt="delivery"
              class="features__card__img"
            />
            <h4 class="features__card__title">Made by true artisans</h4>
            <p class="features__card__paragraph">
              Handmade crafted goods made with real passion and craftmanship
            </p>
          </div>
          <div class="features__card">
            <img
              src="/images/svg/purchase.svg"
              alt="delivery"
              class="features__card__img"
            />
            <h4 class="features__card__title">Unbeatable prices</h4>
            <p class="features__card__paragraph">
              For our materials and quality you won’t find better prices
              anywhere
            </p>
          </div>
          <div class="features__card">
            <img
              src="/images/svg/sprout.svg"
              alt="delivery"
              class="features__card__img"
            />
            <h4 class="features__card__title">Recycled packaging</h4>
            <p class="features__card__paragraph">
              We use 100% recycled packaging to ensure our footprint is
              manageable
            </p>
          </div>
        </div>