<div class="footer__container">
  <div class="footer__top">
    <div class="footer__list__box">
      <ul class="footer__list">
        <h5 class="footer__list-title">Menu</h5>
        <li class="footer__list-item"><a>New arrivals</a></li>
        <li class="footer__list-item"><a>Best sellers</a></li>
        <li class="footer__list-item"><a>Recently viewed</a></li>
        <li class="footer__list-item"><a>Popular this week</a></li>
        <li class="footer__list-item"><a>All products</a></li>
      </ul>
      <ul class="footer__list">
        <h5 class="footer__list-title">Categories</h5>
        <li class="footer__list-item"><a>Crockery</a></li>
        <li class="footer__list-item"><a>Furniture</a></li>
        <li class="footer__list-item"><a>Homeware</a></li>
        <li class="footer__list-item"><a>Plant pots</a></li>
        <li class="footer__list-item"><a>Chairs</a></li>
        <li class="footer__list-item"><a>Crockery</a></li>
      </ul>
      <ul class="footer__list">
        <h5 class="footer__list-title">Our company</h5>
        <li class="footer__list-item"><a>About us</a></li>
        <li class="footer__list-item"><a>Vacancies</a></li>
        <li class="footer__list-item"><a>Contact us</a></li>
        <li class="footer__list-item"><a>Privacy</a></li>
        <li class="footer__list-item"><a>Returns policy</a></li>
      </ul>
    </div>
    <div class="footer__email">
      <p class="footer__email-paragraph">Join our mailing list</p>
      <div class="footer__input-wrapper">
        <input
          class="footer__input"
          type="email"
          placeholder="your@email.com"
        />
        <button class="footer__input-button">Sign up</button>
      </div>
    </div>
  </div>
  <div class="footer__line"></div>
  <div class="footer__bottom">
    <p class="footer__bootom__text">SRDP TECH .inc</p>
    <div class="footer__bottom__social">
      <img src="/images/svg/logo--linkedin.svg" />
      <img src="/images/svg/logo--facebook.svg" />
      <img src="/images/svg/logo--instagram.svg" />
      <img src="/images/svg/logo--twitter.svg" />
      <img src="/images/svg/logo--pinterest.svg" />
    </div>
  </div>
</div>
