@font-face {
  font-family: 'Clash Display';
  src: url('/fonts/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf') format('truetype');
}

@font-face {
 font-family: 'Satoshi';
  src: url('/fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf') format('truetype');
}