@forward 'variables';
@use 'normalize.css';
@use 'fonts';
@use '../components/header/header.scss';
@use '../components/footer/footer.scss';
@use '../components/features/features.scss';
@use '../components/sign-up/sign-up.scss';
@use '../components/design-community/design-community.scss';
@use 'hero.scss';
@use '../pages/add-products/add-products.scss';
@use '../pages/all-products/all-products.scss';
@use '../pages/basket/basket.scss';
@use '../pages/detail-page/detail-page.scss';

body {
  font-family: 'Clash Display';
}

a {
  text-decoration: none;
}

/* * {
  outline: 1px solid red;
} */