$dark-primary: #2A254B;
$primary: #4E4D93;
$white-opacity15: #ffffff15;
$lightGray:  #F9F9F9;
$border-gray:  #EBE8F4;
$white: #FFFFFF;
$line-header: #2b2b2b;
$border-dark: #CAC6DA;
$link-color: #646464;

%fontfw-and-lineh {
  font-weight: 400;
  line-height: 150%;
}

@mixin line {
  display: block;
  height: 1px;
}

%font-style-36 {
  font-size: 36pt;
  @extend %fontfw-and-lineh;
}

%font-style-32 {
  font-size: 32pt;
  @extend %fontfw-and-lineh;
}

%font-style-24 {
  font-size: 24pt;
  @extend %fontfw-and-lineh;
}

%font-style-20 {
  font-size: 20pt;
  @extend %fontfw-and-lineh;
}

%font-style-16 {
  font-size: 16pt;
  @extend %fontfw-and-lineh;
}

%font-style-14 {
  font-size: 14pt;
  @extend %fontfw-and-lineh;
}

%input-wrapper {
  display: flex;
  align-items: center;
}

%small-button {
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Satoshi";
}

%input {
  flex: 1;
  padding: 16px 32px;
  border: none;
  background: $white-opacity15;
  color: $white;
  outline: none;
  font-family: "Satoshi";
}::placeholder {
  color: $white;
}

%container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}